<h1>Help!</h1>
<p>Maybe a getsatisfaction tool goes here? Maybe a google moderator thingy, with top-ranked questions being considered by the circle of people collaborating on the site? Certainly getsatisfaction would be useful for FAQ-generation. Maybe you could set that up for me. kthxbai</p>
