<h1>Consensus</h1>
<p>This will be a site serving instances of aptivate's openconsent tool. Maybe we'll do other stuff too. Initially alpha testing with a few small projects, I'll be opening this to broader participation as the tool matures.</p>
<p>Sign up to learn when new features are released, and to be invited to future testing rounds.</p>