<h1>ConsensUS</h1>
<p>This will be a site serving instances of <a href="http://www.aptivate.org">aptivate</a>'s <a href="http://github.com/aptivate/openconsent">openconsent</a> tool. Maybe we'll do other stuff too. Initially alpha testing with a few small projects, I'll be opening this to broader participation as the tool matures.</p>
<p>Eventually, maybe I'll say why you'd want to use this hosting service rather than run your own instance on your own server. Something about having the latest stable builds, and a community of users. Something about a level of service. We'll have to see what you actually value in order to discover which arguments are most effective.</p>
<p>Sign up to learn when new features are released, and to be invited to future testing rounds.</p>
<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://consens.us2.list-manage.com/subscribe/post?u=227f67207a5438885d190110d&amp;id=74b2e618e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->