<h1>Policies</h1>
<h2>Spam</h2>
<p>It's bad.</p>
<h2>Security</h2>
<p>It's not robust.</p>
<blockquote>Those who would sacrifice some liberty for the sake of security will soon lose both.</blockquote>
<h2>Privacy</h2>
<p>I like privacy. But this is the internet. See the policy on security.</p>
<h2>Identity</h2>
<p>I'd love to be able to be sure that the people participating on here are identifiably the same as the people they claim to be in meatspace. This is intended to be a space where people make real decisions, among and together with their associates, about what they'll do together in the world. That said, I'm not into forcing or enforcing identity. Get to know the people you're working with. Learn to know yourself. Trust the feelings you have about each other, and then learn from the feedback you get about that; it'll improve the quality of the information you get from the feelings you generate about others.</p>