<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Policies", policies_path %></li>
      <li><a href="http://news.consens.us/">News</a></li>
    </ul>
  </nav>
</footer>